@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
._icon-fb:before {
  content: "\e900";
}

._icon-insta:before {
  content: "\e901";
}

._icon-linkedin:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #21243d;
  font-family: "Heebo";
}

.container {
  max-width: 856px;
  margin: 0 auto;
}
@media (max-width: 868px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}

.page {
  padding: 90px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 767.98px) {
  .page {
    padding: 30px 0 0 0;
  }
}