.btn {
  display: inline-flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 47px;
  background-color: #ff6464;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29 / 20 * 100%;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease 0s;
  @media (min-width: $md2) {
    &:hover {
      background-color: #b84848;
    }
    &.fw {
      width: 100%;
    }
  }
}
