@import 'variables.scss';

.intro {
  padding: 38px 0 71px 0;

  @media (max-width: $md1) {
    padding: 0 0 71px 0;
  }

  @media (max-width: $md3) {
    padding: 0 0 60px 0;
  }

  &__container {
    display: flex;
    @media (max-width: $md3) {
      flex-direction: column-reverse;
      text-align: center;
      align-items: center;
    }
  }

  &__content {
    padding: 18px 110px 0 0;
    flex: 1 1 auto;
    align-items: flex-start;
    *:last-child {
      margin-bottom: 0;
    }
    @media (max-width: $md1) {
      padding: 18px 50px 0 0;
    }
    @media (max-width: $md3) {
      padding: 0 0 0 0;
    }
  }

  &__title {
    margin: 0 0 25px 0;
    @media (max-width: $md3) {
      margin: 0 0 20 px 0;
    }
  }

  &__text {
    margin: 0 0 30px 0;
    @media (max-width: $md3) {
      padding: 0 15px;
      margin: 0 0 25px 0;
    }
  }

  &__btn {
    margin: 0 0 25px 0;
    @media (max-width: $md3) {
      margin: 0 0 20px 0;
    }
  }

  &__avatar {
    flex: 0 0 243px;
    width: 243px;
    height: 243px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: -5px 13px 0 0 #edf7fa;
    img {
      max-width: 100%;
    }
    @media (max-width: $md3) {
      flex: 0 0 180px;
      width: 180px;
      height: 180px;
      margin: 0 0 40px 0;
    }
  }
}
