@import url('https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap');
@import 'variables';
@import 'fonts';
@import 'icons';

@import 'forms';
@import 'ui';

@import 'header';
@import 'home';
@import 'works';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #21243d;
  font-family: $fontFamily;
}

.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 750px;
  }
  @media (max-width: $md2) {
    max-width: none;
    padding: 0 20px;
  }
}

.page {
  padding: 90px 0 0 0;
  flex: 1 1 auto;

  @media (max-width: $md2) {
    padding: 30px 0 0 0;
  }
}
